@model System.Data.DataTable

@{
    ViewData["Title"] = "List of Books";
}

@*<a asp-action="DownloadPDF" class="btn btn-primary">Download PDF</a>*@
<a asp-action="DownloadPDF" class="btn btn-primary">Download PDF</a>

<div class="jumbotron">
    <h1 class="text-center">@ViewData["Title"]</h1>
</div>

<table class="table table-bordered" id="datatable">
    <thead class="thead-light">
        <tr>
            <th>
                Book Title
            </th>
            <th>
                Author
            </th>
            <th>
                Price
            </th>
            <th>
                <a onclick="showInPopup('@Url.Action("AddOrEdit","Book",null,Context.Request.Scheme)')" class="btn btn-success text-white"><i class="fas fa-random"></i>Create New Book</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Rows.Count; i++)
        {

            <tr class="@(((int)Model.Rows[i]["Price"]) % 2 == 0 ? "even" : "odd")">
                <td>
                    @Model.Rows[i]["Title"]
                </td>
                <td>
                    @Model.Rows[i]["Author"]
                </td>
                <td>
                    @Model.Rows[i]["Price"]
                </td>
                <td>
                    <a onclick="showInPopup('@Url.Action("AddOrEdit","Book",new{id = @Model.Rows[i]["BookID"]},Context.Request.Scheme)')" class="btn btn-info text-white"><i class="fas fa-pencil-alt"></i>Edit</a>
                    <form asp-action="Delete" asp-route-id="@Model.Rows[i]["BookID"]" onsubmit="return jQueryAjaxDelete(this)" class="d-inline">
                        <input type="hidden" asp-for="@Model.Rows[i]["BookID"]" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                    
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.13.2/datatables.min.css" />    
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.13.2/datatables.min.js"></script>
    @*<script src="~/js/jquery/jquery.min.js"></script>*@
    
    <script>
        $(document).ready(function() {
            $('#datatable').DataTable( {
                "searching": false
                //"sorting" : false
                //"paging": true,
                //"info": true,
                //"lengthChange": true
            } );
        } );
    </script>

    @*<script type="text/javascript">
        $(document).ready(function (){
            $getJSON("../Books",function(books){
                $.map(books,function(book){
                    $("#tblBooks tbody").append("<tr><td>" + book.title + "</td><td>" + book.author + "</td><td>"+ book.price+"</td></tr>");
                });
            });

            $("#btnPrint").click(function (){
                window.print();
            });
        });
    </script>*@
}







